include CHANGELOG.rst
include LICENSE.txt
include MANIFEST.in
include README.rst
include run_tests.py
include requirements.txt
global-include *.ui *.svg test*.py
recursive-include crispy/quanty/bin *
recursive-include crispy/quanty/templates *.lua
recursive-include scripts *